<div class="landing-page">
   <div class="form-appointment">
      <div class="wpcf7" id="wpcf7-f560-p590-o1">
         <form action="/landing-page-template-do-not-delete/#wpcf7-f560-p590-o1" method="post" class="wpcf7-form" novalidate="novalidate" _lpchecked="1">
            <div style="display: none;">
               <input type="hidden" name="_wpcf7" value="560">
               <input type="hidden" name="_wpcf7_version" value="3.5">
               <input type="hidden" name="_wpcf7_locale" value="">
               <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f560-p590-o1">
               <input type="hidden" name="_wpnonce" value="dbb28877d5">
            </div>
            <div class="group">
               <div style="width: 100%; float: left;">
                  <h4>Name</h4>
                  <span class="wpcf7-form-control-wrap text-680"><input type="text" name="text-680" value="" size="45" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" placeholder="Name"></span><br>
                  <h4>Age</h4>
                  <span class="wpcf7-form-control-wrap email-680"><input type="email" name="email-680" value="" size="45" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" placeholder="Email"></span><br>
                  <h4>Gender</h4> 
                      <p class="gender_radio_wrapper"><span class="wpcf7-form-control-wrap radio-98"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item"><label>
                        <input type="radio" name="radio-98" class="radio-input" value="Male">&nbsp;<span class="wpcf7-list-item-label">Male</span></label></span><span class="wpcf7-list-item"><label>
                        <input type="radio" name="radio-98" class="radio-input" value="Female">&nbsp;<span class="wpcf7-list-item-label">Female</span></label></span></span></span></p>
                  <br>
                  <h4>Phone Number</h4>
                  <span class="wpcf7-form-control-wrap tel-630"><input type="tel" name="tel-630" value="" size="45" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" placeholder="Phone"></span><br>
                  <h4>Short Description</h4>
                  <span class="wpcf7-form-control-wrap textarea-398"><textarea name="textarea-398" cols="40" rows="3" class="wpcf7-form-control wpcf7-textarea" placeholder="Description"></textarea></span>
                  <h4>Best time of day for your appointment:  </h4>
                  <input class="date-input-wrapper" type="date" name="dateofbirth" id="dateofbirth">
                  <p><span class="wpcf7-form-control-wrap checkbox-246"><span class="wpcf7-form-control wpcf7-checkbox">
                    <span class="wpcf7-list-item"><label>
                      <input type="radio" name="radio-98" class="radio-input" value="Morning">&nbsp;<span class="wpcf7-list-item-label">Morning</span></label></span>
                      <span class="wpcf7-list-item"><label>
                      <input type="radio" name="radio-98" class="radio-input" value="Afternoon">&nbsp;<span class="wpcf7-list-item-label">Afternoon</span></label></span></span></span></p>
               
                </div> 
            </div>
            <div style="text-align: center; padding-top: 15px; border-top: 1px solid rgb(153, 202, 129); margin-top: 5px;"><input type="submit" value="Request My Appointment" class="wpcf7-form-control wpcf7-submit"><img class="ajax-loader" src="http://www.professionalaudiologicalservices.com/wp-content/plugins/contact-form-7/images/ajax-loader.gif" alt="Sending ..." style="visibility: hidden;"></div>
            <div class="wpcf7-response-output wpcf7-display-none"></div>
         </form>
      </div>
   </div>
</div>