<div class="appointment-banner">
  <div class="landing-page">
     <div class="form-appointment">
        <div class="wpcf7" id="wpcf7-f560-p590-o1">
           <form action="/landing-page-template-do-not-delete/#wpcf7-f560-p590-o1" method="post" class="wpcf7-form appointment-page-form" novalidate="novalidate" _lpchecked="1">
              <div style="display: none;">
                 <input type="hidden" name="_wpcf7" value="560">
                 <input type="hidden" name="_wpcf7_version" value="3.5">
                 <input type="hidden" name="_wpcf7_locale" value="">
                 <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f560-p590-o1">
                 <input type="hidden" name="_wpnonce" value="dbb28877d5">
              </div>
              <div class="group">
                 <div style="width: 100%; float: left;">
                    <h4>User Name</h4>
                    <span class="wpcf7-form-control-wrap text-680"><input type="text" name="text-680" value="" size="45" class="wpcf7-form-control wpcf7-text wpcf7-age wpcf7-validates-as-required wpcf7-validates-age" aria-required="true" placeholder="User Name"></span><br>
                    <h4>Password</h4>
                    <span class="wpcf7-form-control-wrap tel-630"><input type="tel" name="tel-630" value="" size="45" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" placeholder="Password"></span><br>
                 </div> 
              </div>
              <div style="text-align: center; padding-top: 15px; margin-top: 5px;"><input type="submit" value="Login" class="wpcf7-form-control wpcf7-submit"></div>
              <div class="wpcf7-response-output wpcf7-display-none"></div>
           </form>
        </div>
     </div>
  </div>
</div>
