.background-img {
    background-image:url('../../../../assets/images/homepage.jpg'); 
    background-size:cover;
    background-repeat:no-repeat;
    height: 100%;
    width: 100%;
    position: relative;
}
.background-img img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.background-img:after {
    position: absolute;
    content:'';
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 1;
}