<div class="banner-inner-content">
   <div class="landing-page">
      <div class="form-login">
         <div class="wpcf7" id="wpcf7-f560-p590-o1">
            <form action="/landing-page-template-do-not-delete/#wpcf7-f560-p590-o1" method="post" class="wpcf7-form" novalidate="novalidate" _lpchecked="1">
               <div class="group">
                  <div style="width: 100%; float: left;">
                     <h4>Username</h4>
                     <span class="wpcf7-form-control-wrap text-680"><input type="text" name="text-680" value="" size="45" class="wpcf7-form-control wpcf7-username wpcf7-validates-as-username" aria-required="true" placeholder="Enter username"></span><br>
                     <h4>Password</h4>
                     <span class="wpcf7-form-control-wrap text-680"><input type="text" name="text-680" value="" size="45" class="wpcf7-form-control wpcf7-text wpcf7-password wpcf7-validates-as-required wpcf7-validates-password" aria-required="true" placeholder="Enter Password"></span><br>
                  </div> 
               </div>
               <div style="text-align: center; margin-top: 5px;">
               <input type="submit" value="Login" class="wpcf7-form-control wpcf7-submit">
               </div>
               <div class="wpcf7-response-output wpcf7-display-none"></div>
            </form>
         </div>
      </div>
   </div>
</div>
